
<!DOCTYPE html>
<html>
<head>
   <% include template/head.ejs %>
</head>

<body>
   <header>
      <% include template/header.ejs %>
   </header>

   <h2 class="page-header"> Executing </h2>
   <table class="table table-hover table-striped table-bordered">
      <thead>
         <tr>
            <th>Simulation Name</th>
            <th>Seed Amount</th>
            <th>Priority</th>
            <th>Start Time</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <% for(var index in simulationProperties) { %>
         <% if(simulationProperties[index].state === 0) { %>
         <tr id="<%= simulationProperties[index].id %>">
            <td>
               <form method="post" action="/simulation/<%= simulationProperties[index].id %>">
                  <input type="submit" class="btn btn-link p-0" value="<%= simulationProperties[index].name %>" />
               </form>
            </td>
            <td><%= simulationProperties[index].seedAmount %></td>
            <td><%= simulationProperties[index].priority %></td>
            <td><%= simulationProperties[index].startTime %></td>
            <td>
               <button class="btn btn-large btn-danger" data-toggle="confirmation" data-popout="true" data-singleton="true" name="Cancel">
                  <span class="glyphicon glyphicon-remove"></span> Cancel
               </button>
            </td>
         </tr>
         <% } %>
         <% } %>
      </tbody>
   </table>

   <h2 class="page-header"> Finished </h2>

   <table class="table table-hover table-striped table-bordered">
      <thead>
         <tr>
            <th>Simulation Name</th>
            <th>Seed Amount</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <% for(var index in simulationProperties) { %>
         <% if(simulationProperties[index].state === 1) { %>
         <tr id="<%= simulationProperties[index].id %>">
            <td>
               <form method="post" action="/simulation/<%= simulationProperties[index].id %>">
                  <input type="submit" class="btn btn-link p-0" value="<%= simulationProperties[index].name %>" />
               </form>
            </td>
            <td><%= simulationProperties[index].seedAmount %></td>
            <td><%= simulationProperties[index].startTime %></td>
            <td><%= simulationProperties[index].endTime %></td>
            <td>
               <button class="btn btn-large btn-danger" data-toggle="confirmation" data-popout="true" data-singleton="true" name="Remove">
                  <span class="glyphicon glyphicon-trash"></span> Remove
               </button>
            </td>
         </tr>
         <% } %>
         <% } %>
      </tbody>
   </table>

   <div class="my-5">
      <a href="/new_simulation" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New simulation</a>
   </div>

   <div class="container">
      <% include template/footer.ejs %>
   </div>

   <script>
      $('[data-toggle=confirmation]').confirmation({
         rootSelector: '[data-toggle=confirmation]',
         // other options
      })

      $('[name=Cancel]').on('confirmed.bs.confirmation', function () {
         $.post("/cancel",
            {
               _simulationProperty: $(this).closest('tr').attr('id')
            }, () => {
               location.reload();
            });
      });

      $('[name=Remove]').on('confirmed.bs.confirmation', function () {
         $.post("/remove",
            {
               _simulationProperty: $(this).closest('tr').attr('id')
            }, () => {
               location.reload();
            });
      });
   </script>

</body>

</html>